@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: sans-serif;
    color: #354358;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, #009ffd, #2a2a72);
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

.resume_grid {
    height: 60vh;
    overflow-y: scroll;
}

@media (max-width: 480px) {
    .resume_grid {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .resume_grid {
        height: auto;
    }
}